---
- name: Upgrade all packages
  apt:
    name: "*"
    state: latest

- name: Install packages
  apt:
    pkg:
    - apt-transport-https
    - audacity
    - ca-certificates
    - chrome-gnome-shell
    - cloudsql-proxy
    - code
    - containerd.io
    - curl
    - docker-buildx-plugin
    - docker-ce
    - docker-ce-cli
    - docker-compose-plugin
    - ffmpeg
    - fonts-firacode
    - gnupg-agent
    - google-chrome-stable
    - google-cloud-sdk
    - htop
    - keepassxc
    - kubectl
    - libhdf5-dev
    - net-tools
    - pass
    - postgresql-client
    - python3-gpg
    - python3-pip
    - python3-psutil
    - python3-venv
    - python3-virtualenvwrapper
    - python3.11-venv
    - python3.9-venv
    - software-properties-common
    - sshfs
    - thunderbird
    - tilix
    - x11-utils
    - xsel
    - zsh

- name: Download and install binary files
  get_url:
    url: "{{ item.value.url }}"
    dest: /usr/local/bin/{{ item.value.name }}
    mode: 0755
  with_dict: "{{ binaries }}"

- name: Install external debian packages
  apt:
    deb: "{{ item }}"
  loop:
    - https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2025.05.20_amd64.deb
